html,
body {
  margin: 0;
  overflow: hidden;
}

.App {
  width: 100vw;
  height: 100vh;
}

.hollowtext {
  font-size: 30px; /* adjust as needed */
  color: rgba(255, 255, 255, 0.815); /* light semi-transparent fill inside */
  -webkit-text-stroke: 1.5px black;
  text-stroke: 1.5px black; /* standard fallback */
  font-weight: 600; /* keeps it modern */
}
